---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Dr.Yami";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="300" alt="Mimi" src="/mimi.png"/>
    </div>
    <h1>Dr.Yami</h1>
    <div class="titles">
        <span class="badge">Software Developer</span>
        <span class="badge">Game Developer</span>
    </div>
    <h2>About</h2>
    <p>
        Jack of all trades, master of... something.
    </p>
    <p>
        As a software developer, I have a vast experience and knowledge of programming in general, have tried a lot of programming languages and technologies for both professional work and hobbies. Currently working as a full-stack developer in digital services field.
    </p>
    <p>
        Besides working in software industry, I also have a strong passion for game development. I have been crafting gameplay and user interfaces for years; also released a few tools for game development. Experienced in RPG Maker series and Godot Engine.
    </p>
    <div class="center">
        <a href="/works/">
            <button class="btn">My portfolio</button>
        </a>
    </div>
    <h2>Skills</h2>
    <div class="skills">
        <span class="badge skill">react</span>
        <span class="badge skill">vue</span>
        <span class="badge skill">typescript</span>
        <span class="badge skill">python</span>
        <span class="badge skill">sql</span>
        <span class="badge skill">devops</span>
        <span class="badge skill">godot</span>
        <span class="badge skill">rpg maker</span>
        <span class="badge skill">too-many-to-list-here</span>
    </div>
    <h2>Interests</h2>
    <p>
        I love spending most of my free time playing games, especially role-playing games and visual novels. Anime and manga are another passive of mine.
    </p>
    <p>
        Besides entertaining hobbies, I also enjoy learning new technologies and crafting cool stuffs. Doing so helps my expanding my knowledge and always keeps me motivated for my careers.
    </p>
    <p>
        Coffee is my best friend to start a new day, and I love trying new coffee beans from different regions. V60 Switch is my favourite brewing method.
    </p>
</Layout>

