---

---
<footer>
    <div class="center">
        <ul class="footer">
            <li class="icon__btn"><a class="icon__link" href="https://github.com/suppayami" target="_blank"><span class="git-icon">GitHub</span></a></li>
            <li class="icon__btn"><a class="icon__link" href="mailto: dr.yami.moe@gmail.com"><span class="mail-icon">Email</span></a></li>
        </ul>
    </div>
</footer>

